[credential]
  helper = cache --timeout=3600
[user]
  name = deeayen
  email = kiwidan92@gmail.com
[remote "origin"]
  receivepack = git-receive-pack
[push]
  default = simple
[core]
  editor = vim
[alias]
  s = status
  a = add
  c = commit
  p = push
  d = diff
