[credential]
	helper = store
[user]
  name = dansalias
  email = danyoungnz@gmail.com
[remote "origin"]
  receivepack = git-receive-pack
[push]
  default = simple
[core]
  editor = vim
[alias]
  s = status
  a = add
  c = commit
  p = push
  d = diff
  cp = cherry-pick
