snippet html "html5 boilerplate"
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title>$1</title>
	</head>
	<body>
		$0
	</body>
</html>
endsnippet

snippet t
<$1>
	$0
</$1>
endsnippet
