snippet te
<template>
	$0
</template>
endsnippet

snippet sc
<script>
	export default {
		$0
	};
</script>
endsnippet

snippet st
<style lang="scss">
	$1 {
		$0
	}
</style>
endsnippet

snippet sfc
<template>
	$0
</template>

<script>
	export default {
	}
</script>

<style lang="scss">
</style>
endsnippet
