! general
Xft.dpi: 192
*dpi: 192

! colours
#define fg #718ca1
! #define bg #1d252c
#define bg #1b2730
#define grayDark #37434f
#define blue #5ec4ff
#define blueDark #539afc
#define red #e32f41
#define redDark #ad2634
#define green #8bd49c
#define greenDark #6ba478
#define yellow #ebbf83
#define yellowDark #d98e48
#define magenta #e27e8d
#define magentaDark #b62d65
#define cyan #33ced8
#define cyanDark #008b94
#define white #b7c5d3

! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  fg

! black
*.color0:       bg
*.color8:       grayDark

! red
*.color1:       redDark
*.color9:       red

! green
*.color2:       greenDark
*.color10:      green

! yellow
*.color3:       yellowDark
*.color11:      yellow

! blue
!*.color4:       blueDark
*.color4:       fg
*.color12:      blue

! magenta
*.color5:       magentaDark
*.color13:      magenta

! cyan
*.color6:       cyanDark
*.color14:      cyan

! white
*.color7:       fg
*.color15:      white

! rofi
rofi.terminal: urxvt
rofi.font: Inconsolata 16
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: bg, grayDark, grayDark
rofi.color-normal: bg, fg, bg, grayDark, fg
rofi.color-active: bg, blue, bg, grayDark, blue
rofi.color-urgent: bg, red, bg, grayDark, red
rofi.modi: window,run

rofi.kb-accept-entry: Return
rofi.kb-remove-to-eol: Control+0
rofi.kb-mode-next: Control+j
rofi.kb-mode-previous: Control+k

! urxvt
urxvt.perl-ext-common: resize-font
urxvt.resize-font.step: 2
! urxvt.font: xft:Inconsolata:size=16:antialias=true, xft: dejavu sans mono:size=16:antialias=true
! urxvt.font: xft:Inconsolata:size=15:antialias=true
urxvt.font: xft:Inconsolata:pixelsize=15:antialias=true
! urxvt.font: xft:Roboto Mono:size=13:antialias=true
! urxvt.font: xft:Source Code Pro:size=15:antialias=true
urxvt.scrollBar: false
urxvt.internalBorder: 8
urxvt.saveLines: 10000
!urxvt.letterSpace: 5
